.container {
  width: 80%;
  margin: 0 auto;
}

#text-to-type {
  font-size: 1.5em;
  line-height: 1.5;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

#user-input {
  font-size: 1.5em;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

#user-input.wrong {
  border-color: red;
}.selected {
  color: green;
}

.correct {
  color: gray;
}

.incorrect {
  color: red;
}
